@import "sanitize.css";
*{
    position: center;
}

header {
    background-image: url("../image/maldives-1993704_1920.jpg");
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#text{
    background-color: transparent;
    border-radius: 15px;
    width: 225px;
    color: yellow;
    text-align: center;
}
h2{
    font-size: 20px;
    font-family: "Arial Black";
}
.shin{
    text-align: center;
}
.shin-inner{

    text-align: left;
    display: inline-block;
}
